build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    # "@runtest" {with-test} # no tests
    "@doc" {with-doc}
  ]
]x-maintenance-intent: ["(latest)"]
