name: github pages

on:
  push:
    branches:
      - master  # Set a branch name to trigger deployment

jobs:
  deploy:
    name: Deploy doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: '4.14.x'
          dune-cache: true

      - run: opam pin -n .
      - run: opam depext -yt pbrt ocaml-protoc
      - run: opam install -d . --deps-only
      - run: opam exec -- dune build @doc
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/default/_doc/_html/
          destination_dir: dev
          enable_jekyll: true
