name: build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  run:
    name: Build
    strategy:
      matrix:
        os:
          - ubuntu-latest
            #- macos-latest
            #- windows-latest
        ocaml-compiler:
          - '4.08'
          - '4.14'
          - '5.01'
          - '5.04'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      #with:
      #  submodules: true
    - uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}
        allow-prerelease-opam: true
        dune-cache: true
          #- run: sudo apt install protobuf-compiler libprotobuf-dev
    - run: opam pin -n .
    - run: opam depext -yt ocaml-protoc
    - run: opam install -t . --deps-only
    - run: opam exec -- dune build @install
    - run: opam exec -- dune runtest
      #- run: opam exec -- make integration
    - run: opam install ocamlformat.0.27.0
    - run: opam exec -- dune build @fmt --auto-promote
    - run: git diff -q
